Repository tertyshnyi/streaming-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

build_frontend:
  stage: build
  tags:
  - fsa-tertyshnyi
  image: docker:dind
  services:
  - docker:latest
  before_script:
  - until docker info &>/dev/null ; do sleep 2 && echo "Testujem pripojenie na Docker deamon (dind)" ; done
  - export IMAGE_VERSION="${CI_JOB_ID}-${CI_COMMIT_SHORT_SHA}"
  script:
  ...

build_backend:
  stage: build
  tags:
  - fsa-tertyshnyi
  image: docker:dind
  services:
  - docker:latest
  before_script:
  - until docker info &>/dev/null ; do sleep 2 && echo "Testujem pripojenie na Docker deamon (dind)" ; done
  - export IMAGE_VERSION="${CI_JOB_ID}-${CI_COMMIT_SHORT_SHA}"
  script:
  ...

created all endpoints and functions for movie, series, episodes
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Episode.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/MediaContent.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Movie.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Series.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/MediaContentRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/MovieRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/SeriesRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/SlugRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/EpisodeFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/EpisodeService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MovieFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MovieService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/SeriesService.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/MovieRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/SeriesRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/EpisodeMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/MovieMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/SeriesMapper.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaMovieRepositoryAdapter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaSeriesRepositoryAdapter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/MovieSpringDataRepository.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/SeriesSpringDataRepository.java
  backend/outbound-repository-jpa/src/main/resources/persistence/streaming-orm.xml
Due: build_backend

created filters for movie
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/MediaContent.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/MediaContentFilter.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Movie.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Series.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/MediaContentRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentService.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/MovieRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/MovieMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/SeriesMapper.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaMovieRepositoryAdapter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaSeriesRepositoryAdapter.java
Due: build_backend

created filters for series
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/SeriesRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentFacade.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/MovieRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/SeriesRestController.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaSeriesRepositoryAdapter.java
Due: build_backend

updated filters and search for media
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/MediaContent.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/MediaContentFilter.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Movie.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Series.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/MediaContentRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/MovieRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaSearchService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MovieService.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/MediaContentRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/MovieRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/SeriesRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/MediaContentMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/MovieMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/SeriesMapper.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaMovieRepositoryAdapter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaSeriesRepositoryAdapter.java
  backend/springboot/src/main/java/sk/posam/fsa/streaming/MediaSearchBeanConfiguration.java
Due: build_backend

created and updated users through backend + keycloak
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/User.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/KeycloakRegistration.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/UserRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/UserFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/UserService.java
  backend/inbound-controller-ws/pom.xml
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/UserRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/UserMapperMapstruct.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/security/JwtConverter.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/security/SecurityConfiguration.java
  backend/outbound-repository-jpa/pom.xml
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaUserRepositoryAdapter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/KeycloakClient.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/KeycloakRegistrationAdapter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/UserSpringDataRepository.java
  backend/springboot/pom.xml
  backend/springboot/src/main/java/sk/posam/fsa/streaming/UserBeanConfiguration.java
  backend/springboot/src/main/resources/application.yml
Due: build_backend

updated children count for parent comment
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Comment.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/CommentRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/CommentFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/CommentService.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/CommentRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/CommentMapper.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaCommentRepositoryAdapter.java
  backend/outbound-repository-jpa/src/main/resources/persistence/streaming-orm.xml
Due: build_backend

created diff vizualization for movie and series + addition funcs
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Series.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/SeriesFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/SeriesService.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/SeriesMapper.java
  frontend/src/app/app.routes.ts
  frontend/src/app/core/guards/media-type.guard.ts
  frontend/src/app/core/guards/no-auth.guard.ts
  frontend/src/app/core/models/episode.model.ts
  frontend/src/app/core/models/media-content.model.ts
  frontend/src/app/core/models/movie.model.ts
  frontend/src/app/core/models/series.model.ts
  frontend/src/app/core/models/user.model.ts
  frontend/src/app/core/pipes/relative-time.pipe.ts
  frontend/src/app/core/services/media-content.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/features/components/comments-section/comments-section.component.html
  frontend/src/app/features/components/comments-section/comments-section.component.ts
  frontend/src/app/features/components/video-player/video-player.component.scss
  frontend/src/app/features/components/video-player/video-player.component.ts
  frontend/src/app/features/pages/media-content/media-content.component.html
  frontend/src/app/features/pages/media-content/media-content.component.scss
  frontend/src/app/features/pages/media-content/media-content.component.ts
  frontend/src/app/features/pages/user-settings/user-settings.component.html
  frontend/src/app/features/pages/user-settings/user-settings.component.scss
  frontend/src/app/features/pages/user-settings/user-settings.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
  frontend/src/app/shared/components/navbar/navbar.component.scss
  frontend/src/app/shared/components/navbar/navbar.component.ts
Due: build_frontend, build_backend

created fast front for admin panel
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/UserMapperMapstruct.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/security/JwtConverter.java
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/guards/role.guard.ts
  frontend/src/app/core/models/user.model.ts
  frontend/src/app/core/services/media.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/features/components/admin-component/form-movie/form-movie.component.html
  frontend/src/app/features/components/admin-component/form-movie/form-movie.component.ts
  frontend/src/app/features/components/admin-component/form-series/form-series.component.html
  frontend/src/app/features/components/admin-component/form-series/form-series.component.ts
  frontend/src/app/features/components/admin-component/form-style.scss
  frontend/src/app/features/components/admin-component/toast/toast.component.html
  frontend/src/app/features/components/admin-component/toast/toast.component.ts
  frontend/src/app/features/pages/admin-panel/admin-panel.component.html
  frontend/src/app/features/pages/admin-panel/admin-panel.component.scss
  frontend/src/app/features/pages/admin-panel/admin-panel.component.ts
  frontend/src/app/features/pages/create-movie/create-movie.component.html
  frontend/src/app/features/pages/create-movie/create-movie.component.ts
  frontend/src/app/features/pages/create-series/create-series.component.html
  frontend/src/app/features/pages/create-series/create-series.component.ts
  frontend/src/app/features/pages/edit-movie/edit-movie.component.html
  frontend/src/app/features/pages/edit-movie/edit-movie.component.ts
  frontend/src/app/features/pages/edit-series/edit-series.component.html
  frontend/src/app/features/pages/edit-series/edit-series.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
  frontend/src/app/shared/components/navbar/navbar.component.ts
Due: build_frontend, build_backend

updated conf
  backend/springboot/src/main/resources/application.yml
  frontend/src/app/core/services/advanced-filter.service.ts
  frontend/src/app/core/services/search.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/environments/environment.development.ts
  frontend/src/app/features/pages/movies/movies.component.html
  frontend/src/app/features/pages/movies/movies.component.ts
  frontend/src/app/features/pages/series/series.component.html
  frontend/src/app/features/pages/series/series.component.ts
Due: build_frontend, build_backend

updated openapi
  backend/api-spec/src/main/resources/openapi/streaming.yaml
Due: build_backend

changed to http
  backend/k8s/workload/ingress/app-ingress.yaml
Due: build_backend

fixed
  backend/k8s/01-namespace.yaml
  backend/springboot/src/main/resources/application.yml
  backend/terraform/05-psql/.terraform.lock.hcl
  frontend/src/app/environments/environment.ts
Due: build_frontend, build_backend

fixed
  backend/k8s/workload/ingress/app-ingress.yaml
Due: build_backend

updated
  backend/k8s/01-namespace.yaml
  backend/springboot/src/main/resources/application.yml
  frontend/src/app/environments/environment.ts
Due: build_frontend, build_backend

updated ssl config
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/KeycloakClient.java
  backend/springboot/pom.xml
  backend/springboot/src/main/java/sk/posam/fsa/streaming/CustomSecurityConfig.java
Due: build_backend

updated ssl config
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/security/JwtDecoderConfiguration.java
  backend/springboot/src/main/java/sk/posam/fsa/streaming/CustomSecurityConfig.java
Due: build_backend

updated conf jwtdecoder
  backend/springboot/src/main/java/sk/posam/fsa/streaming/JwtDecoderConfiguration.java
Due: build_backend

update
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/security/JwtDecoderConfiguration.java
  backend/k8s/workload/ingress/app-ingress.yaml
  backend/springboot/src/main/java/sk/posam/fsa/streaming/JwtDecoderConfiguration.java
Due: build_backend

updated
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/KeycloakClient.java
Due: build_backend

updated admin rules
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/CommentServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/MediaSearchServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/MovieServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/SeriesServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/UnifiedMediaContentServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/UserServiceTest.java
  frontend/src/app/app.routes.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
Due: build_frontend, build_backend

updated tests
  backend/domain/pom.xml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/KeycloakRegistration.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/MovieRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaSearchService.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/CommentServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/MediaSearchServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/MovieServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/SeriesServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/UnifiedMediaContentServiceTest.java
  backend/domain/src/test/java/sk/posam/fsa/streaming/domain/services/UserServiceTest.java
Due: build_backend

updated
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/MediaContentMapper.java
Due: build_backend

updated timezone
  frontend/src/app/features/components/comments-section/comments-section.component.html
Due: build_frontend

Update README.md
  README.md
Due: none

Add files via upload
  Class-Diagram.png
Due: none

Path conditions:
  build_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
