Repository tertyshnyi/streaming-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

build_frontend:
  stage: build
  tags:
  - fsa-tertyshnyi
  image: docker:dind
  services:
  - docker:latest
  before_script:
  - until docker info &>/dev/null ; do sleep 2 && echo "Testujem pripojenie na Docker deamon (dind)" ; done
  - export IMAGE_VERSION="${CI_JOB_ID}-${CI_COMMIT_SHORT_SHA}"
  script:
  ...

build_backend:
  stage: build
  tags:
  - fsa-tertyshnyi
  image: docker:dind
  services:
  - docker:latest
  before_script:
  - until docker info &>/dev/null ; do sleep 2 && echo "Testujem pripojenie na Docker deamon (dind)" ; done
  - export IMAGE_VERSION="${CI_JOB_ID}-${CI_COMMIT_SHORT_SHA}"
  script:
  ...

Updated gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Updated
  .gitlab-ci.yaml
  .idea/shelf/Uncommitted_changes_before_Update_at_5_6_2025_9_12_PM_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Update_at_5_6_2025_9_12_PM__Changes_.xml
  .idea/workspace.xml
Due: none

Updated
  .gitlab-ci.yml
  backend/.gitlab-ci.yaml
  frontend/.gitlab-ci.yaml
Due: build_frontend, build_backend

Updated
  .gitlab-ci.yml
  .idea/workspace.xml
Due: none

Updated
  .idea/workspace.xml
  backend/.gitlab-ci.yml
  backend/k8s/02-secrets.yaml
  frontend/.gitlab-ci.yml
Due: build_frontend, build_backend

Updated
  .gitlab-ci.yml
  .idea/workspace.xml
  backend/.gitlab-ci.yml
  backend/k8s/app-fe/07-deployment.yaml
  backend/k8s/app-fe/08-service.yaml
  frontend/Dockerfile
  frontend/nginx.conf
Due: build_frontend, build_backend

Updated
  .idea/workspace.xml
  backend/,github/mirror-to-gitlab.yml
  backend/Dockerfile
  frontend/src/app/environments/environment.ts
Due: build_frontend, build_backend

Updated
  .idea/workspace.xml
  backend/k8s/02-secrets.yaml
Due: build_backend

Updated
  .gitlab-ci.yml
Due: none

Updated
  .gitlab-ci.yml
  .idea/workspace.xml
  frontend/.gitlab-ci.yml
Due: build_frontend

Updated
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build_frontend

Updated
  .idea/workspace.xml
  backend/k8s/workload/ingress/app-ingress.yaml
  frontend/Dockerfile
  frontend/src/app/environments/environment.ts
Due: build_frontend, build_backend

Updated
  .idea/workspace.xml
  backend/k8s/workload/ingress/gitlab-ingress.yaml
  frontend/src/app/core/config/authCodeFlowConfig.config.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/environments/environment.ts
  frontend/src/app/features/watch-histories/watch-histories.component.ts
Due: build_frontend, build_backend

Updated
  .idea/workspace.xml
  backend/.github/mirror-to-gitlab.yml
Due: build_backend

Add .exe files to Git LFS tracking
  .gitattributes
Due: none

Updated token
  .idea/workspace.xml
  backend/k8s/02-secrets.yaml
Due: build_backend

Updated app-ingress and frontend routs
  .idea/workspace.xml
  backend/k8s/workload/ingress/app-ingress-pip.yaml
  backend/k8s/workload/ingress/app-ingress.yaml
  backend/k8s/workload/ingress/keycloak-ingress.yaml
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/environments/environment.ts
Due: build_frontend, build_backend

Updated database connection
  .idea/workspace.xml
  backend/springboot/pom.xml
  backend/springboot/src/main/resources/application.yml
Due: build_backend

Updated cors
  .idea/workspace.xml
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/security/SecurityConfiguration.java
Due: build_backend

Deleted file keycloak-ingress.yaml
  .idea/workspace.xml
  backend/k8s/workload/ingress/keycloak-ingress.yaml
Due: build_backend

Updated nginx.conf
  .idea/workspace.xml
  backend/k8s/workload/ingress/app-ingress.yaml
  frontend/nginx.conf
Due: build_frontend, build_backend

Changed app to streaming-platform
  .idea/workspace.xml
  frontend/nginx.conf
  frontend/src/app/environments/environment.ts
Due: build_frontend

Updated path in app-ingress.yaml
  backend/k8s/workload/ingress/app-ingress.yaml
  frontend/nginx.conf
Due: build_frontend, build_backend

Updated path in app-ingress.yaml
  backend/k8s/workload/ingress/app-ingress-pip.yaml
  backend/k8s/workload/ingress/app-ingress.yaml
Due: build_backend

Updated conf in backend to application.yml
  .idea/workspace.xml
  backend/k8s/workload/ingress/app-ingress.yaml
  backend/springboot/src/main/resources/application.yml
Due: build_backend

Changed database from mysql to postgress
  backend/springboot/src/main/resources/application-dev.yml
  backend/springboot/src/main/resources/application.yml
  frontend/src/app/core/models/media-card.ts
Due: build_frontend, build_backend

created new page - advanced search
  .idea/workspace.xml
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/security/SecurityConfiguration.java
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.routes.ts
  frontend/src/app/core/config/authCodeFlowConfig.config.ts
  frontend/src/app/core/models/media-card.model.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/environments/environment.development.ts
  frontend/src/app/environments/environment.ts
  frontend/src/app/features/advanced-search/advanced-search.component.html
  frontend/src/app/features/advanced-search/advanced-search.component.scss
  frontend/src/app/features/advanced-search/advanced-search.component.ts
  frontend/src/app/features/not-found/not-found.component.html
  frontend/src/app/features/not-found/not-found.component.scss
  frontend/src/app/features/watch-histories/watch-histories.component.html
  frontend/src/app/features/watch-histories/watch-histories.component.scss
  frontend/src/app/features/watch-histories/watch-histories.component.ts
  frontend/src/app/shared/components/dropdown-filter/dropdown-filter.component.html
  frontend/src/app/shared/components/dropdown-filter/dropdown-filter.component.scss
  frontend/src/app/shared/components/dropdown-filter/dropdown-filter.component.ts
  frontend/src/app/shared/components/media-card/media-card.component.html
  frontend/src/app/shared/components/media-card/media-card.component.scss
  frontend/src/app/shared/components/media-card/media-card.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
  frontend/src/app/shared/components/navbar/navbar.component.scss
  frontend/src/app/shared/components/navbar/navbar.component.ts
  frontend/src/app/shared/components/sparkles/sparkles.component.html
  frontend/src/app/shared/components/sparkles/sparkles.component.scss
  frontend/src/app/shared/components/sparkles/sparkles.component.ts
  frontend/src/styles/styles.scss
Due: build_frontend, build_backend

updated advanced search page
  frontend/src/app/features/advanced-search/advanced-search.component.scss
  frontend/src/app/shared/components/dropdown-filter/dropdown-filter.component.html
  frontend/src/app/shared/components/dropdown-filter/dropdown-filter.component.scss
  frontend/src/app/shared/components/media-card/media-card.component.html
  frontend/src/app/shared/components/media-card/media-card.component.scss
Due: build_frontend

added new dynamic media page
  frontend/src/app/app.routes.ts
  frontend/src/app/core/models/media-card.model.ts
  frontend/src/app/core/models/media-card.ts
  frontend/src/app/core/models/media-content.model.ts
  frontend/src/app/core/services/media-content.service.ts
  frontend/src/app/features/advanced-search/advanced-search.component.html
  frontend/src/app/features/advanced-search/advanced-search.component.ts
  frontend/src/app/features/media-content/media-content.component.html
  frontend/src/app/features/media-content/media-content.component.scss
  frontend/src/app/features/media-content/media-content.component.ts
  frontend/src/app/features/not-found/not-found.component.ts
  frontend/src/app/shared/components/media-card/media-card.component.html
  frontend/src/app/shared/components/media-card/media-card.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
Due: build_frontend

Updated player with responsiveness
  frontend/src/app/features/media-content/media-content.component.scss
  frontend/src/app/shared/components/media-card/media-card.component.html
Due: build_frontend

Created new comment elements with design
  frontend/src/app/core/models/comment.model.ts
  frontend/src/app/core/services/media-content.service.ts
  frontend/src/app/features/media-content/media-content.component.html
  frontend/src/app/features/media-content/media-content.component.scss
  frontend/src/app/features/media-content/media-content.component.ts
  frontend/src/app/shared/components/media-card/media-card.component.html
  frontend/src/app/shared/components/navbar/navbar.component.scss
  frontend/src/app/shared/components/sparkles/sparkles.component.scss
  frontend/src/app/shared/components/sparkles/sparkles.component.ts
Due: build_frontend

connected models user, comment, media for comments, updated auth.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/models/comment.model.ts
  frontend/src/app/core/models/media-content.model.ts
  frontend/src/app/core/models/user.model.ts
  frontend/src/app/core/services/media-content.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/features/components/comments-section/comments-section.component.html
  frontend/src/app/features/components/comments-section/comments-section.component.scss
  frontend/src/app/features/components/comments-section/comments-section.component.ts
  frontend/src/app/features/components/video-player/video-player.component.html
  frontend/src/app/features/components/video-player/video-player.component.scss
  frontend/src/app/features/components/video-player/video-player.component.ts
  frontend/src/app/features/media-content/media-content.component.html
  frontend/src/app/features/media-content/media-content.component.ts
  frontend/src/app/features/pages/advanced-search/advanced-search.component.html
  frontend/src/app/features/pages/advanced-search/advanced-search.component.scss
  frontend/src/app/features/pages/advanced-search/advanced-search.component.ts
  frontend/src/app/features/pages/media-content/media-content.component.html
  frontend/src/app/features/pages/media-content/media-content.component.scss
  frontend/src/app/features/pages/media-content/media-content.component.ts
  frontend/src/app/features/pages/not-found/not-found.component.html
  frontend/src/app/features/pages/not-found/not-found.component.scss
  frontend/src/app/features/pages/not-found/not-found.component.ts
  frontend/src/app/features/pages/user-settings/user-settings.component.html
  frontend/src/app/features/pages/user-settings/user-settings.component.scss
  frontend/src/app/features/pages/user-settings/user-settings.component.ts
  frontend/src/app/features/pages/watch-histories/watch-histories.component.html
  frontend/src/app/features/pages/watch-histories/watch-histories.component.scss
  frontend/src/app/features/pages/watch-histories/watch-histories.component.ts
Due: build_frontend

created new page register
  frontend/src/app/app.routes.ts
  frontend/src/app/features/pages/media-content/media-content.component.html
  frontend/src/app/features/pages/media-content/media-content.component.ts
  frontend/src/app/features/pages/registration/registration.component.html
  frontend/src/app/features/pages/registration/registration.component.scss
  frontend/src/app/features/pages/registration/registration.component.ts
Due: build_frontend

updated
  backend/inbound-controller-ws/pom.xml
  backend/outbound-repository-jpa/src/main/resources/persistence/streaming-orm.xml
  backend/springboot/src/main/resources/application.yml
  frontend/src/app/app.routes.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/features/components/comments-section/comments-section.component.html
  frontend/src/app/features/components/comments-section/comments-section.component.scss
  frontend/src/app/features/pages/home/home.component.html
  frontend/src/app/features/pages/home/home.component.scss
  frontend/src/app/features/pages/home/home.component.ts
  frontend/src/app/features/pages/media-content/media-content.component.html
  frontend/src/app/features/pages/media-content/media-content.component.scss
  frontend/src/app/features/pages/media-content/media-content.component.ts
  frontend/src/app/features/pages/registration/registration.component.ts
Due: build_frontend, build_backend

created all models
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Comment.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Episode.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/MediaContent.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Movie.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Series.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/User.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Video.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/WatchHistory.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/enums/Authority.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/enums/Genre.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/UserService.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/UserMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/security/JwtConverter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/AuthorityConverter.java
  backend/outbound-repository-jpa/src/main/resources/persistence/streaming-orm.xml
Due: build_backend

added new func for movie, media, series, episode + openapi.yaml and mappers
  backend/api-spec/src/main/resources/openapi/streaming.yaml
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/MediaContent.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Movie.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Series.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/models/entities/Video.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/MediaContentRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/MovieRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/repositories/SeriesRepository.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/EpisodeFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/EpisodeService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MediaContentService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MovieFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/MovieService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/SeriesFacade.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/SeriesService.java
  backend/domain/src/main/java/sk/posam/fsa/streaming/domain/services/UserService.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/MovieRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/controller/SeriesRestController.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/EpisodeMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/MovieMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/SeriesMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/UserMapper.java
  backend/inbound-controller-ws/src/main/java/sk/posam/fsa/streaming/mapper/VideoMapper.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaMovieRepositoryAdapter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/JpaSeriesRepositoryAdapter.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/MovieSpringDataRepository.java
  backend/outbound-repository-jpa/src/main/java/sk/posam/fsa/streaming/jpa/SeriesSpringDataRepository.java
  backend/outbound-repository-jpa/src/main/resources/persistence/streaming-orm.xml
  backend/springboot/src/main/java/sk/posam/fsa/streaming/MovieBeanConfiguration.java
  backend/springboot/src/main/java/sk/posam/fsa/streaming/SeriesBeanConfiguration.java
Due: build_backend

Path conditions:
  build_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
